/* src/components/Navigation.css */
.navigation-container {
  background-color: #561C24; 
  padding: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-size: 20px;
  font-weight: bold;
}

.nav-links {
  display: flex;
}

.nav-links a {
  color: white; 
  text-decoration: none;
  margin-left: 15px; 
  transition: color 0.3s; 
}

.nav-links a:hover {
  color: #C7B7A3; 
}
